.meme-editor {
    background: yellow;
    z-index: 30;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.editor-options {
    justify-content: space-between;
    background-color: blue;
    padding: 20px;
    ;
}

.meme-editor .meme-canvas {
    border: 2px black solid;
    margin: 40px;
}

.footer-editor {
    margin: auto;
}

.add-line-menu {
    margin: 10px;
    justify-content: space-between;
}

.lines-edit
{
    background-color: black;
    width: 60%;
}

.btn-add-line-text {
    width: fit-content;
    height: fit-content;
    border-radius: 40px;
    border: none;
    transition: all 1s ease;
}

.btn-add-line-text:hover {
    animation: shake 1s;
    background-color: darkslategrey;
}