.meme-editor {
    background: red;
    z-index: 30;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 100vh;
    height: fit-content;
    align-items: center;
    justify-content: space-around;
}

.editor-options {
    justify-content: space-between;
    background-color: #555f6fad;
    padding: 20px;
    width: 100%;
    box-shadow: 0px 0px 31px 1px rgba(0, 0, 0, 0.75);
    border-radius: 6px;
}

.meme-editor .meme-canvas {
    border: 2px black solid;
    box-shadow: 0px 0px 19px 1px rgba(0, 0, 0, 0.75);
}

.footer-editor {
    margin: auto;
}

.add-line-menu {
    margin: 10px;
    justify-content: space-between;
}

.lines-edit {
    width: 100%;
}

.btn-add-line-text {
    width: fit-content;
    height: fit-content;
    border-radius: 40px;
    border: none;
    transition: all 1s ease;
}

.input-line-txt {
    width: 100%
}

.btn-add-line-text:hover {
    animation: shake 1s;
    background-color: darkslategrey;
}

@media(min-width: 510px) {
    .input-line-txt {
        width: auto;
    }
}

@media(min-width: 920px) {
    main .meme-editor {
        flex-direction: row;
        justify-content: space-evenly;
    }
}