* {
    box-sizing: border-box;
}



body
{
    margin: 10px;
}
/* helpers */

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.grid {
    display: grid;
}

.none {
    display: none;
}
.hidden{
    visibility: hidden;
}


select,input, .btn{
    cursor: pointer;
}

.align-center{
    align-items: center;
}


