* {
    box-sizing: border-box;
}

/* helpers */
.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
}
.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.grid {
    display: grid;
}

.none {
    display: none;
}

.hidden {
    visibility: hidden;
}

select,
input,
.btn {
    cursor: pointer;
}

.align-center {
    align-items: center;
}

.choose-btn {
    background: #cfc6c6b0;
    outline: 2px black solid;
}