.image-chooser {
    width: fit-content;
    margin: auto;
}

.images-container {
    grid-template-rows: repeat(25, 200px);
    grid-template-columns: repeat(1, 180px);
    border: 1px solid black;
    grid-gap: 20px;
    background-color: green;
    height: fit-content;
}

.item-img {
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border: 1px solid black;
    border-radius: 7px;
}

main {
    background-color: #555f6fad;
    width: 100%;
}

.image-filter {
    width: 100%;
    background-color: red;
    height: 70px;
    justify-content: center;
    align-items: center;
}

.image-filter select {
    width: 80px;
    height: 30px;
}

.item-img:hover {
    animation: shake 2s;
    border-color: red;
}

@media (min-width:425px) {
    .images-container {
        grid-template-rows: repeat(13, 200px);
        grid-template-columns: repeat(2, 180px);
    }
}

@media (min-width:630px) {
    .images-container {
        grid-template-rows: repeat(9, 200px);
        grid-template-columns: repeat(3, 180px);
    }
}

@media (min-width:840px) {
    .images-container {
        grid-template-rows: repeat(7, 200px);
        grid-template-columns: repeat(4, 180px);
    }
}

@media (min-width:1040px) {
    .images-container {
        grid-template-rows: repeat(5, 200px);
        grid-template-columns: repeat(5, 180px);
    }
}

@media (min-width:1230px) {
    .images-container {
        grid-template-rows: repeat(5, 200px);
        grid-template-columns: repeat(6, 180px);
    }
}