
.image-chooser{
    align-items: center;

}

.images-container {
    width:90%;
    grid-template-rows: repeat(4, 25vh);
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    margin: 30px;
    background-color: green;
}

.item-img {
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

main{
    background-color: red;
    width: 100%;
}